.navbar{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.navbar__leftTitle{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    padding: 10px 0;
    transition-duration: 500ms;
}

.navbar__leftTitle:hover{
    background-color: #eee;
}

.navbar__mid{
    display: flex;
    justify-content: space-evenly;
}

.navbar__midLink{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    transition-duration: 500ms;
}

.navbar__midLink:hover{
    background-color: white;
    color: black;
}

.navbar__right{
    display: flex;
    justify-content: flex-start;
}

.navbar__rightOption{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    transition-duration: 500ms;
}

.navbar__rightOption:Hover{
    background-color: white;
    color: black;
}